@font-face {
  font-family: 'IBM';
  src: url("../fonts/IBMPlexSansArabic-Thin.woff2") format("woff2"), url("../fonts/IBMPlexSansArabic-Thin.woff") format("woff"), url("../fonts/IBMPlexSansArabic-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM';
  src: url("../fonts/IBMPlexSansArabic-ExtraLight.woff2") format("woff2"), url("../fonts/IBMPlexSansArabic-ExtraLight.woff") format("woff"), url("../fonts/IBMPlexSansArabic-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM';
  src: url("../fonts/IBMPlexSansArabic-Light.woff2") format("woff2"), url("../fonts/IBMPlexSansArabic-Light.woff") format("woff"), url("../fonts/IBMPlexSansArabic-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Text';
  src: url("../fonts/IBMPlexSansArabic-Text.woff2") format("woff2"), url("../fonts/IBMPlexSansArabic-Text.woff") format("woff"), url("../fonts/IBMPlexSansArabic-Text.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM';
  src: url("../fonts/IBMPlexSansArabic-Medium.woff2") format("woff2"), url("../fonts/IBMPlexSansArabic-Medium.woff") format("woff"), url("../fonts/IBMPlexSansArabic-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM';
  src: url("../fonts/IBMPlexSansArabic-SemiBold.woff2") format("woff2"), url("../fonts/IBMPlexSansArabic-SemiBold.woff") format("woff"), url("../fonts/IBMPlexSansArabic-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM';
  src: url("../fonts/IBMPlexSansArabic-Bold.woff2") format("woff2"), url("../fonts/IBMPlexSansArabic-Bold.woff") format("woff"), url("../fonts/IBMPlexSansArabic-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "IBM";
  font-weight: normal;
  font-style: normal;
  background-color: #2f466e;
}

.ul_gh {
  list-style: none;
  padding: 0;
  margin: 0;
}

.m_P_gh {
  padding: 0;
  margin: 0;
}

.anc_gh {
  display: inline-block;
}

.anc_gh:hover {
  text-decoration: none;
}

.btn_gh {
  border: none;
  padding: 0;
  background-color: transparent;
  border: none;
  display: block;
  cursor: pointer;
  outline: none !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.d_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.moboverlay {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
  overflow: hidden;
}

.over_ {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d0a809;
}

.btngh_ {
  width: 165px;
  height: 49px;
  font-size: 16px;
  font-weight: 600;
}

.intro_parant {
  width: 100%;
  height: 100vh;
  padding-top: 160px;
  background-image: url("/images/intro_backg.png");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro_parant .logo {
  margin-bottom: 80px;
}

.intro_parant h4 {
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 30px;
}

.intro_parant p {
  font-size: 22px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 40px;
}

.intro_parant .anc_home {
  width: 165px;
  height: 49px;
  font-size: 16px;
  font-weight: 700;
  background-color: #d0a809;
  color: #2f466e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.intro_parant .anc_home:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

@media only screen and (max-width: 1400px) {
  .intro_parant {
    padding-top: 100px;
  }
  .intro_parant .logo {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .intro_parant .logo img {
    width: 200px;
  }
  .intro_parant p {
    font-size: 18px;
    text-align: center;
    width: 90%;
  }
}

header {
  padding-top: 10px;
}

header .header {
  padding-bottom: 10px;
}

header .header .btn_mob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

header .header .btn_mob i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 38px;
  height: 38px;
  border: 2px solid #d0a809;
  font-size: 16px;
  color: #d0a809;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
  display: none;
}

header .header .btn_mob .phone_ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header .btn_mob .phone_ i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border: 2px solid #d0a809;
  font-size: 16px;
  color: #d0a809;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}

header .header .btn_mob .phone_ .phone_num {
  text-align: start;
}

header .header .btn_mob .phone_ .phone_num span {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
}

header .header .btn_mob .phone_ .phone_num p {
  color: #d0a809;
  font-size: 14px;
  font-weight: 700;
}

@media only screen and (max-width: 767px) {
  header .header .btn_mob .phone_ span, header .header .btn_mob .phone_ p {
    display: none;
  }
  header .header .btn_mob .phone_ i {
    -webkit-margin-end: 0;
            margin-inline-end: 0;
    -webkit-margin-start: 10px;
            margin-inline-start: 10px;
    width: auto;
    height: auto;
    border: none;
    font-size: 18px;
  }
}

@media only screen and (max-width: 767px) {
  header .header .btn_mob i {
    border: none;
    width: auto;
    height: auto;
    font-size: 18px;
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  header .header .logo img {
    width: 160px;
  }
}

header .nav_parant_ nav {
  padding: 15px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #d0a809;
  z-index: 50;
}

header .nav_parant_ nav .close_ {
  display: none;
}

header .nav_parant_ nav .ul-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .nav_parant_ nav .ul-navbar a {
  -webkit-margin-end: 30px;
          margin-inline-end: 30px;
  font-size: 18px;
  color: #2f466e;
  font-weight: 500;
  -webkit-transition: .5s;
  transition: .5s;
  text-transform: capitalize;
}

header .nav_parant_ nav .ul-navbar a:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

header .nav_parant_ nav .lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: 400;
  color: #2f466e;
  cursor: pointer;
  position: relative;
}

header .nav_parant_ nav .lang img {
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
}

header .nav_parant_ nav .lang i {
  -webkit-margin-start: 5px;
          margin-inline-start: 5px;
  font-size: 12px;
}

header .nav_parant_ nav .lang .drop_lang {
  background-color: #ffffff;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
  position: absolute;
  top: 35px;
  -webkit-transition: .5s;
  transition: .5s;
  min-width: 120px;
  text-align: center;
  padding: 10px 0;
}

header .nav_parant_ nav .lang .drop_lang li a {
  text-transform: capitalize;
  font-size: 16px;
  color: #2f466e;
  font-weight: 500;
}

header .nav_parant_ nav .lang .drop_lang li:first-child {
  margin-bottom: 5px;
}

header .nav_parant_ nav .lang:hover .drop_lang {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

@media only screen and (max-width: 767px) {
  header .nav_parant_ nav {
    background-color: #ffffff;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 85%;
    height: 100%;
    padding: 100px 20px 0;
    z-index: 99;
  }
  html[dir="ltr"] header .nav_parant_ nav {
    left: 0;
  }
  header .nav_parant_ nav .close_ {
    display: block;
    position: absolute;
    top: 30px;
    color: #2f466e;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s;
  }
  html[dir="rtl"] header .nav_parant_ nav .close_ {
    left: 20px;
  }
  html[dir="ltr"] header .nav_parant_ nav .close_ {
    right: 20px;
  }
  header .nav_parant_ nav .close_:hover {
    color: #d0a809;
  }
  html[dir="ltr"] header .nav_parant_ nav {
    right: 20px;
  }
  header .nav_parant_ nav .ul-navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  header .nav_parant_ nav .ul-navbar a {
    -webkit-margin-end: 0;
            margin-inline-end: 0;
    margin-bottom: 15px;
  }
  header .nav_parant_ nav .lang {
    position: absolute;
    top: 30px;
  }
  html[dir="rtl"] header .nav_parant_ nav .lang {
    right: 20px;
  }
  html[dir="ltr"] header .nav_parant_ nav .lang {
    left: 20px;
  }
  header .nav_parant_ nav .lang .drop_lang {
    right: -10px;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    margin-bottom: 27px;
  }
  .nav_parant_ {
    position: relative;
  }
  .nav_parant_ nav {
    position: absolute;
    left: 0;
    right: 0;
    top: -27px;
  }
}

footer {
  padding: 70px 0;
}

footer .logo {
  margin-bottom: 30px;
  text-align: start;
}

footer .ul_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .ul_social a {
  -webkit-margin-end: 30px;
          margin-inline-end: 30px;
  color: #ffffff;
  font-size: 20px;
  -webkit-transition: .5s;
  transition: .5s;
}

footer .ul_social a:hover {
  color: #d0a809;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

@media only screen and (max-width: 767px) {
  footer .ul_social .logo {
    text-align: center;
  }
}

footer .f_div .f_btn {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}

footer .f_div .ul_list {
  text-align: start;
}

footer .f_div .ul_list a {
  font-size: 16px;
  color: #bdbdbd;
  font-weight: 400;
  line-height: 2;
  -webkit-transition: .5s;
  transition: .5s;
}

footer .f_div .ul_list a:hover {
  color: #d0a809;
}

footer .f_div .ul_list a i {
  color: #d0a809;
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
}

footer .newslatter {
  text-align: start;
}

footer .newslatter h4 {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}

footer .newslatter p {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 20px;
}

footer .newslatter .input_div {
  position: relative;
}

footer .newslatter .input_div input {
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid transparent;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
  font-size: 14px;
  color: #b3b3b3;
  font-weight: 500;
}

footer .newslatter .input_div input:focus {
  outline: 0;
  border-color: #d0a809;
}

footer .newslatter .input_div .fa_env {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  right: 15px;
  color: #b3b3b3;
}

html[dir="ltr"] footer .newslatter .input_div .fa_env {
  left: 15px;
}

footer .newslatter .input_div .btn_newsla {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  color: #b3b3b3;
  -webkit-transition: .5;
  transition: .5;
}

footer .newslatter .input_div .btn_newsla:hover {
  color: #d0a809;
}

html[dir="rtl"] footer .newslatter .input_div .btn_newsla {
  left: 20px;
}

html[dir="ltr"] footer .newslatter .input_div .btn_newsla {
  right: 20px;
}

@media only screen and (min-width: 992px) {
  .f_div .ul_list {
    display: block;
  }
  .newslatter .coll_ {
    display: block;
  }
}

@media only screen and (max-width: 991px) {
  footer {
    padding: 85px 0 30px;
  }
  footer .logo {
    text-align: center;
    margin-bottom: 20px;
  }
  footer .social_media {
    margin-bottom: 30px;
  }
  footer .ul_social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .ul_social li a {
    margin: 0 10px;
  }
  footer .f_div .f_btn {
    font-size: 16px;
  }
  footer .f_div .f_btn::after {
    font-family: "Font Awesome 5 Free";
    content: "\f107";
    position: absolute;
    color: #ffffff;
    top: -11px;
    font-size: 15px;
    line-height: 3.273;
    font-weight: 900;
    left: 15px;
    -webkit-transition: .5s;
    transition: .5s;
  }
  html[dir="ltr"] footer .f_div .f_btn {
    right: 15px;
  }
  footer .f_div .f_btn[aria-expanded="true"]::after {
    content: "\f106";
  }
  footer .newslatter .f_btn::after {
    font-family: "Font Awesome 5 Free";
    content: "\f107";
    position: absolute;
    color: #ffffff;
    top: -11px;
    font-size: 15px;
    line-height: 3.273;
    font-weight: 900;
    left: 15px;
    -webkit-transition: .5s;
    transition: .5s;
  }
  html[dir="ltr"] footer .newslatter .f_btn {
    right: 15px;
  }
  footer .newslatter .f_btn[aria-expanded="true"]::after {
    content: "\f106";
  }
  footer .f_div .ul_list a {
    -webkit-margin-start: 15px;
            margin-inline-start: 15px;
  }
  footer .f_div .ul_list li:last-child {
    margin-bottom: 20px;
  }
}

.copyright_parant .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.102);
  padding: 20px 0 20px;
}

.copyright_parant .copyright .copy_t, .copyright_parant .copyright .tasawk {
  font-size: 14px;
  color: #ffffff;
  font-weight: 300;
}

.copyright_parant .copyright .tasawk img {
  -webkit-margin-start: 3px;
          margin-inline-start: 3px;
}

@media only screen and (max-width: 767px) {
  .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .copyright .copy_t, .copyright_parant .copyright .tasawk {
    text-align: center;
    text-align-last: center;
    margin-bottom: 10px;
  }
}

.slider_parant {
  position: relative;
}

.slider_parant .slider .owl-dots {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  color: #2f466e;
  z-index: 9999;
}

.slider_parant .slider .owl-dots .owl-dot {
  width: 16px;
  height: 3px;
  background-color: #212121;
  opacity: 0.5;
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
}

.slider_parant .slider .owl-dots .active {
  background-color: #2f466e;
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  outline: 0;
}

.slider_parant .slider .anc_slider {
  position: relative;
  padding-bottom: 47.14285714285714%;
  display: block;
}

.slider_parant .slider .anc_slider img {
  position: absolute;
  top: 0;
  left: 00;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 8s;
  transition: 8s;
}

.slider_parant .slider .anc_slider:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.slider_parant .slider .slide_text {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  text-align: start;
  width: 37%;
  z-index: 1;
}

.slider_parant .slider .slide_text h1 {
  font-size: 48px;
  color: #2f466e;
  font-weight: 700;
  margin-bottom: 45px;
}

.slider_parant .slider .slide_text h1:after {
  content: " ";
  width: 114px;
  height: 2px;
  background-color: #d0a809;
  display: block;
  position: absolute;
  margin-top: 15px;
}

.slider_parant .slider .slide_text .p_slide {
  font-size: 24px;
  color: #2f466e;
  font-weight: 500;
  margin-bottom: 30px;
}

.slider_parant .slider .slide_text .btn_slider {
  width: 165px;
  height: 49px;
  font-size: 16px;
  font-weight: 600;
  background-color: #2f466e;
  color: #ffffff;
}

.slider_parant .slider .slide_text .btn_slider:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background-color: #d0a809;
  color: #2f466e;
}

@media only screen and (max-width: 500px) {
  .slider_parant .slider .slide_text {
    width: 90%;
  }
  .slider_parant .slider .slide_text h1 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .slider_parant .slider .slide_text h1:after {
    width: 60px;
    height: 2px;
    margin-top: 4px;
  }
  .slider_parant .slider .slide_text .p_slide {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .slider_parant .slider .slide_text .btn_slider {
    width: 135px;
    height: 35px;
  }
}

@media only screen and (max-width: 767px) {
  .slider_parant .slider .slide_text {
    width: 68%;
  }
  .slider_parant .slider .slide_text .p_slide {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .slider_parant .slider .anc_slider {
    padding-bottom: 70.142857%;
  }
}

@media only screen and (max-width: 767px) {
  .slider_parant .slider {
    top: 0;
  }
}

.about_Us_parant {
  background-color: #283c5e;
  padding: 90px 0;
}

.about_Us_parant .about_us .title_abut {
  font-size: 25px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 45px;
}

.about_Us_parant .about_us .title_abut:after {
  content: " ";
  width: 31px;
  height: 2px;
  background-color: #d0a809;
  display: block;
  position: absolute;
  margin-top: 15px;
  text-align: center;
}

.about_Us_parant .about_us .about_text {
  padding-top: 30px;
  text-align: start;
}

.about_Us_parant .about_us .about_text .title_abut {
  font-size: 25px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 45px;
}

.about_Us_parant .about_us .about_text .title_abut:after {
  content: " ";
  width: 31px;
  height: 2px;
  background-color: #d0a809;
  display: block;
  position: absolute;
  margin-top: 15px;
}

.about_Us_parant .about_us .about_text .p_about {
  font-size: 16px;
  color: #bdbdbd;
  font-weight: 500;
  margin-bottom: 30px;
  width: 80%;
}

.about_Us_parant .about_us .about_text .btn_slider {
  width: 165px;
  height: 49px;
  font-size: 16px;
  font-weight: 600;
  width: 150px;
  height: 45px;
  background-color: #d0a809;
  color: #2f466e;
}

.about_Us_parant .about_us .about_text .btn_slider:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background-color: #2f466e;
  color: #ffffff;
}

@media only screen and (max-width: 767px) {
  .about_Us_parant .about_us .about_text {
    width: 100%;
    text-align: center;
  }
  .about_Us_parant .about_us .about_text h1 {
    display: none;
    font-size: 22;
  }
  .about_Us_parant .about_us .about_text .p_about {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  }
  .about_Us_parant .about_us .about_text .btn_slider {
    width: 140px;
    height: 38px;
    margin: auto;
  }
}

.about_Us_parant .about_us .about_img {
  position: relative;
  padding-bottom: 54.77477477477477%;
}

.about_Us_parant .about_us .about_img img {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 00;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 767px) {
  .about_Us_parant {
    padding: 50px 0;
  }
  .about_text .p_about {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .title_abut {
    text-align: center;
  }
  .title_abut::after {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
  }
}

.Our_services_parant {
  padding: 100px 0 40px;
}

.Our_services_parant .title_abut {
  font-size: 25px;
  color: #ffffff;
  font-weight: 700;
  margin: 0 auto 80px;
  text-align: center;
}

.Our_services_parant .title_abut:after {
  content: " ";
  width: 31px;
  height: 2px;
  background-color: #d0a809;
  display: block;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  margin-top: 15px;
}

.Our_services_parant .ser_div {
  text-align: center;
  display: block;
  margin-bottom: 70px;
}

.Our_services_parant .ser_div .div_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 71px;
  height: 71px;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 0 auto 20px;
}

.Our_services_parant .ser_div .div_icon img {
  max-width: 100%;
}

.Our_services_parant .ser_div .ser_t {
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 20px;
}

.Our_services_parant .ser_div .ser_p {
  font-size: 16px;
  color: #bdbdbd;
  text-align: justify;
  text-align-last: center;
  font-weight: 400;
}

@media only screen and (max-width: 767px) {
  .Our_services_parant .ser_div {
    margin-bottom: 35px;
  }
  .Our_services_parant .ser_div .ser_p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .Our_services_parant .title_abut {
    margin-bottom: 50px;
  }
}

.counter_parant {
  background-color: #d0a809;
}

.counter_parant .counter_ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px 0;
}

.counter_parant .counter_ .coun_div {
  width: 100%;
  text-align: center;
}

.counter_parant .counter_ .coun_div .counter, .counter_parant .counter_ .coun_div .Postive_::after, .counter_parant .counter_ .coun_div .Rate_::after {
  font-size: 48px;
  color: #2f466e;
  font-weight: 700;
}

.counter_parant .counter_ .coun_div .Postive_::after {
  content: "+";
}

.counter_parant .counter_ .coun_div .Rate_::after {
  content: "%";
}

.counter_parant .counter_ .coun_div h3 {
  font-size: 22px;
  font-weight: 500;
  color: #2f466e;
}

@media only screen and (max-width: 767px) {
  .counter_ {
    -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 40px 0;
  }
  .counter_ .coun_div .counter, .counter_parant .counter_ .coun_div .Postive_::after, .counter_parant .counter_ .coun_div .Rate_::after {
    font-size: 40px !important;
  }
}

.vision_parant {
  background-color: #283c5e;
  padding: 85px 0;
}

.vision_parant .vision_div {
  position: relative;
  text-align: center;
  background-color: #2f466e;
  padding: 30px 20px;
  z-index: 1;
}

.vision_parant .vision_div h5 {
  font-size: 25px;
  color: #ffffff;
  font-weight: 700;
  margin: 0 auto 80px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}

.vision_parant .vision_div h5:after {
  content: " ";
  width: 31px;
  height: 2px;
  background-color: #d0a809;
  display: block;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  margin-top: 15px;
}

.vision_parant .vision_div P {
  font-size: 16px;
  color: #bdbdbd;
  font-weight: 400;
}

.vision_parant .vision_div .img_posi {
  position: absolute;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  top: 50%;
  z-index: -1;
  left: 20px;
}

@media only screen and (max-width: 767px) {
  .vision_parant {
    padding: 50px 0;
  }
  .vision_parant .vision_div {
    margin-bottom: 15px;
  }
}

.team_parant {
  padding: 90px 0 80px;
}

.team_parant .title_abut {
  font-size: 25px;
  color: #ffffff;
  font-weight: 700;
  margin: 0 auto 80px;
  text-align: center;
}

.team_parant .title_abut:after {
  content: " ";
  width: 31px;
  height: 2px;
  background-color: #d0a809;
  display: block;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  margin-top: 15px;
}

.team_parant .owl-dots {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  color: #2f466e;
  z-index: 9999;
}

.team_parant .owl-dots .owl-dot {
  width: 16px;
  height: 3px;
  background-color: #212121;
  opacity: 0.5;
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
}

.team_parant .owl-dots .active {
  background-color: #2f466e;
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  outline: 0;
}

.team_parant .owl-dots {
  bottom: -50px;
}

.team_parant .owl-dots .active {
  background-color: #d0a809;
}

.team_parant .div_team {
  text-align: center;
}

.team_parant .div_team .img_team {
  position: relative;
  padding-bottom: 101.1538461538462%;
  margin-bottom: 20px;
}

.team_parant .div_team .img_team img {
  position: absolute;
  top: 0;
  left: 00;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.team_parant .div_team h3 {
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 5px;
}

.team_parant .div_team p {
  font-size: 16px;
  color: #bdbdbd;
  font-weight: 500;
}

@media only screen and (max-width: 767px) {
  .team_parant {
    padding: 50px 0 40px;
  }
  .team_parant .owl-dots {
    bottom: -22px;
  }
  .team_parant .title_abut {
    margin-bottom: 50px;
  }
  .team_parant .div_team {
    margin-bottom: 20px;
  }
  .team_parant .div_team .img_team {
    margin-bottom: 10px;
  }
  .team_parant .div_team h3 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .team_parant .div_team p {
    font-size: 16px -2;
  }
}

.news_parant {
  padding: 80px 0 100px;
  background-color: #283c5e;
}

.news_parant h1 {
  font-size: 25px;
  color: #ffffff;
  font-weight: 700;
  margin: 0 auto 80px;
  text-align: center;
}

.news_parant h1:after {
  content: " ";
  width: 31px;
  height: 2px;
  background-color: #d0a809;
  display: block;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  margin-top: 15px;
}

.news_parant .owl-dots {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  color: #2f466e;
  z-index: 9999;
}

.news_parant .owl-dots .owl-dot {
  width: 16px;
  height: 3px;
  background-color: #212121;
  opacity: 0.5;
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
}

.news_parant .owl-dots .active {
  background-color: #2f466e;
  opacity: 1;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  outline: 0;
}

.news_parant .owl-dots {
  bottom: -70px;
}

.news_parant .owl-dots .active {
  background-color: #d0a809;
}

.news_parant .news_div .anc_news {
  margin-bottom: 20px;
  display: block;
  position: relative;
  padding-bottom: 80.83333333333333%;
  overflow: hidden;
}

.news_parant .news_div .anc_news:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.news_parant .news_div .anc_news img {
  position: absolute;
  top: 0;
  left: 00;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

.news_parant .news_div h3 {
  font-size: 18px;
  color: #ffffff;
  text-align: start;
  margin-bottom: 15px;
}

.news_parant .news_div p {
  font-size: 16px;
  color: #bdbdbd;
  text-align: justify;
}

@media only screen and (max-width: 767px) {
  .news_parant {
    padding: 50px 0 40px;
  }
  .news_parant h1 {
    margin-bottom: 50px;
  }
  .news_parant p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.pop_up_parant {
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 1000;
  display: none;
  background-color: #2f466e;
  border-radius: 35px;
  width: calc(100% - 30px);
  max-width: 770px;
  margin: auto;
  padding: 30px 0 30px;
}

.pop_up_parant .pop_up .logo {
  padding: 35px 35px 30px 35px;
  text-align: center;
}

.pop_up_parant .pop_up .pop_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pop_up_parant .pop_up .pop_text img {
  margin-bottom: 10px;
}

.pop_up_parant .pop_up .pop_text p {
  font-size: 20px;
  color: #ffffff;
  width: 50%;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 500;
}

.pop_up_parant .pop_up .pop_text button {
  background-color: #d0a809;
  color: #2f466e;
}

.pop_up_parant .pop_up .pop_text button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.pop_up_parant .pop_up .linear_ {
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  top: -40px;
  font-size: 24px;
  color: #ffffff;
  z-index: 100;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.pop_up_parant .pop_up .linear_:hover {
  color: #d0a809;
}

@media only screen and (max-width: 767px) {
  .pop_up_parant {
    height: auto;
    padding-bottom: 30px;
  }
  .pop_up_parant .pop_up .logo {
    padding: 20px;
  }
  .pop_up_parant .pop_up .logo img {
    width: 150px;
  }
  .pop_up_parant .pop_up .pop_text img {
    width: 140px;
    margin-bottom: 10px;
  }
  .pop_up_parant .pop_up .pop_text p {
    width: 90%;
  }
}

.btngh_ {
  width: 165px;
  height: 49px;
  font-size: 16px;
  font-weight: 600;
}
/*# sourceMappingURL=main.css.map */