.pop_up_parant{
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 1000;
    display: none;
    background-color: $main_color;
    border-radius: 35px;
    width:calc(100% - 30px);
    max-width: 770px;
    margin: auto;
    padding: 30px 0 30px;
    .pop_backgr{
      position: absolute;
      bottom: 0;
      @include ar{
        left: 0;
      }
      @include en{
        right: 0;
        transform: scaleX(-1);
      }
    }
    .pop_up{
        .logo{
          padding: 35px 35px 30px 35px;
          text-align: center;

        }
        .pop_text{
          display: flex;
          flex-direction:column;
          align-items: center;
          img{
            margin-bottom: 10px;
          }
          p{
            font-size: $font_s + 4;
            color: $color_1;
            width: 50%;
            text-align: center;
            margin-bottom: 25px;
            font-weight: 500;
          }
          button{
            background-color: $color_2;
            color: $main_color;
            min-width: 165px;
            &:hover{
              transform: translateY(-5px);
            }
          }
        }
        .linear_{
          position: absolute;
          transform: translateX(-50%);
          left: 50%;
          top: -40px;
          font-size: 24px;
          color: $color_1;
          z-index: 100;
          transition: .5s;
          cursor: pointer;
          &:hover{
            color: $color_2;
          }
        }
    }

}

@include xs{
  .pop_up_parant{
    height: auto;
    padding-bottom: 30px;
    .pop_backgr{
      display: none;
    }
    .pop_up{
      .logo{
        padding: 20px ;
  
        img{
          width: 150px;
        }
      }
      .pop_text{
        img{
          width: 140px;
          margin-bottom: 10px;
        }
        p{
          width: 90%;
        }
        button{
          min-width: 150px;
        }
      }
    }
  }
}
