.slider_parant{
  position: relative;
  .slider{
// ~~~~~~~~~~~~~~~~~owl-dots~~~~~~~~~~~~
  @include dots_;
    // ~~~~~~~~~~~~~~anc_slider~~~~~~~~~~~
    .anc_slider{
      position: relative;
      padding-bottom: 47.14285714285714%;
      display: block;
      img{
        @include acpict_r;
        transition:8s;
    
      }
      &:hover{
        img{
          transform:scale(1.2);
        }
      }
    }
    // ~~~~~~~~~~~~~~text slider~~~~~~~~~~~
    .slide_text{
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      text-align: start;
      width: 37%;
      z-index: 1;
        h1{
          font-size: 48px;
          color: $main_color;
          font-weight: 700;
          margin-bottom: 45px;
            &:after{
            content: " ";
            width: 114px;
            height: 2px;
            background-color: $color_2;
            display: block;
            position: absolute;
            margin-top: 15px;
            
          }
        }
        .p_slide{
          font-size: 24px;
          color: $main_color;
          font-weight: 500;
          margin-bottom: 30px;
        }
        .btn_slider{
          @include btn_gh;
          background-color: $main_color;
          color: $color_1;
          &:hover{
            transform: translateY(-5px);
            background-color: $color_2 ;
            color: $main_color;
          }
        }
        
    }
    // ~~~~~~~~~~~~~media_mobile~~~~~~~~~~~~~~~~~~~~~~~~~~
    @include xxs {
        .slide_text{
          width: 90%;
          h1{
            font-size: 22px;
            margin-bottom: 10px;
            &:after{
              width: 60px;
              height: 2px;
              margin-top: 4px;
              
            }
          }
          .p_slide {
            font-size: $font_s;
            margin-bottom: 10px;
          }
          .btn_slider{
            width: 135px;
            height: 35px;
          }
        }
    }
    @include xs{
      .slide_text{
        width: 68%;
        .p_slide{
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          margin-bottom: 20px;
        }
      }
      .anc_slider{
        padding-bottom: 70.142857%;
      }
    }
  }
  @include xs{
    .slider{
      top: 0;
    }
  }
}



