.intro_parant{
  width: 100%;
  height: 100vh;
  padding-top: 160px ;
  background-image: url("/images/intro_backg.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo{
    margin-bottom: 80px;
  }
  h4{
    font-size: $font_s + 9;
    font-weight: $font_b;
    color: $color_1;
    margin-bottom: 30px;
  }
  p{
    font-size: $font_s + 6;
    font-weight: 400;
    color: $color_1;
    margin-bottom: 40px;
  }
  .anc_home{
    width: $width_btn;
    height: $height_btn;
    font-size: $font_s;
    font-weight: $font_b;
    background-color: $color_2;
    color: $main_color;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .5s ease-in-out;

  }
  .anc_home:hover{
    transform: translateY(-5px);
  }
  @include lg {
    padding-top: 100px ;

    .logo{
      margin-bottom: 50px;
    }
  }
  @include xs {
    .logo img {
      width: 200px;
    }
    p {
      font-size: $font_s + 2;
      text-align: center;
      width: 90%;
    }
  }
}



